@media screen and (max-width:1600px) {
	.intro {
		min-height: 800px;
	}	
	
	header .header-nav {
		visibility: visible;
		opacity: 1;
	}
}

@media screen and (max-width:600px) {
	.intro-content {
		padding: 50% 26%;
	}	
	
}

@media screen and (max-width:375px) {
	.intro-content {
		padding: 80% 26%;
	}	

}

@media screen and (max-width:991px) {
	header {
		width: 90%;
		padding-left: 25px;
	}
	
	header .header-nav {
		padding: 20px 0;
		position: absolute;
		background-color: #00796B;
		top: 100%;
		left: 25%;
		right: 25%;
		z-index: 99999;
		visibility: hidden;
		opacity: 0;
	}
	
	header .header-content {
		padding-bottom: 20px;
	}
	
	header .logo {
		display: block;
	}
	
	header img {
		margin-auto;
		margin-bottom: 20px;
	}
	.navicon {
		visibility: visible;
	}
	.nav-toggle {
		visibility: visible;
		right: 8%;
	}
	
	nav ul li a {
		color: #fff;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 600;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out
	}
	
	nav ul.primary-nav {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	nav ul.primary-nav li {
		display: block;
		padding: 5px 0;
	}

	
}