
/*
        CORE CSS for the Application
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,500);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/* ==========================================================================
                                GLOBAL STYLES
========================================================================== */

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	-webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color; 
    text-decoration: none;
}

h1,h2,h3,h4,h5 {
	font-family: 'Open Sans', sans-serif;	
}


.accented-section {
	background-color: #F5F5F5;
}

.section-padding {
	padding: 120px 0px;	
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


/*==========================================================================
                            	BUTTONS
========================================================================== */

.btn {
	color: #fff;
	border: none;
	font-size: 13px;
	display: inline-block;
	text-transform: uppercase; 
	background-color: #00796B;
	padding: 10px 20px;
}

.btn:hover{
	color: #B2DFDB;
}

.btn-rounded {
	border-radius: 50px;
}

/*==========================================================================
                            	WAYPOINTS
==========================================================================*/

.fadeInUp, .slideInLeft, .slideInRight {
    visibility: visible;
}

/*==========================================================================
                              	NAVIGATION
==========================================================================*/

.navigation {
	position: fixed;
	width: 100%;
	z-index: 999;
}

header {
	width: 100%;
	padding: 40px 0;
	margin: 0 auto;
	background-color: #009688;	
	-webkit-transition: padding 300ms ease-in-out;
    transition: padding 300ms ease-in-out;
}

header .header-content {
	padding: 0 50px;	
}
header .logo {
	display: inline;
	height: 20px;
}

header .header-nav {
	display: inline-block;
}

header a {
	color: #fff;
	text-transfrom: uppercase;
	padding: 2px;
	font-size: 17px;	
}

header ul.primary-nav {
	margin: 0 0 0 50px;
	padding: 0;
}

header ul.primary-nav li {
	display: inline;
	padding-right: 20px;
}
header ul.primary-nav li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 0;
}

header ul.primary-nav li a:hover {
	color: #B6B6B6;
	border-bottom: 1px solid #B6B6B6;
}



.scrolled-spied {
	color: #B6B6B6 !important;
	border-bottom: 1px solid #B6B6B6;
}

/*==========================================================================
                            NAVIGATION TOGGLE
==========================================================================*/

.nav-icon {
	position: absolute;	
	height: 26px;
	right: 10px;
	top: 48px;
	visibility: hidden;
}

.nav-toggle {
	position: absolute;
	padding: 5px 10px;
	top: 30px;
	right: 15px;
	background-color: #00796B;
 	z-index: 999999;
	visibility: hidden;
}
.nav-toggle:focus {
  outline: none; 
 }
 
.nav-toggle:hover {
 	color: #B2DFDB;
 }


/*==========================================================================
                              	INTRO
========================================================================== */

.intro {
	min-height: 750px;
	background: url("resources/shinobi-intro.jpg") center center;
	background-size: cover;
	position: relative;
}

.intro-content {
	color: #fff;
	padding: 26%;
}

.intro-message{
	font-family: 'Lato', sans-serif;
	margin-top: 40px;
	line-height: 30px;
	font-size: 15px;
}

.intro .btn {
	margin-top: 20px;
}

/*==========================================================================
                              	SERVICES
========================================================================== */

.services h2 {
	margin-bottom: 40px;
}

.services ul.services-stack {
	margin-top: 40px;
	list-style: none;	
}

.services ul.services-stack i {
	color: #009688;
}

.services ul.services-stack .btn {
	margin-top: 20px;
}

/*==========================================================================
                              	PORTFOLIO
========================================================================== */

.portfolio h2 {
	margin-bottom: 40px;
}


.portfolio .clients-intro p{
	line-height: 3em;
}

.portfolio .clients-intro .leftcol {
    padding-right: 100px;
    border-right: solid 1px #B2DFDB;
}

.portfolio .clients-intro .rightcol {
    padding-left: 100px;
}

.portfolio .portfolio-boxes {
	margin-top: 50px;
}
.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}
.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(0,121,107,.7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

